.contact {
    color: white;
    background-color: black;
    width: 100%;
    height:60px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.contact:hover {
    transition:all .5s;
    opacity: 50%;
}

img {
    width: 150px;
    height: 110px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 322px){
    .header a{
    font-size: .9rem;
}
}
.bname {
    padding-top: 30px;
    margin-bottom: 5px;
    text-align:center;
}
.line {
    background-color: black;
    width:75%;
    height: 2px;
}
p {
    color:red
}
ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-right: 43px;
    
}
a {
    text-decoration: none;
    color: black;
    
}
@media screen and (min-width: 371px){
    a {
        font-size: larger;
    }
    .contact {
        font-size: 24px;
    }
}
@media screen and (max-width: 426px){
    .contact {
        font-size: 20px;
    }
}
ul a {
    color: gray
}
.active a {
    color: rgb(0, 63, 4);
  }
  .contact a {
    color: white;
  }
