footer {
    text-align: center;
    place-items: center;
}
@media screen and (max-width: 730px){
    footer {
        margin: 100px 1rem 0px 1rem;
    }
}
@media screen and (min-width: 730px){
    footer {
        margin: 100px 7rem 0px 7rem;
    }
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar nav {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px ;
    
} 
ul a:hover {
    color: rgb(0, 63, 4)
    
}
.navbar li {
    padding: 0 10px;
    border-bottom: 1px solid gray;
}
.navbar img {
    margin-right: 20px;
    box-shadow: none;
}
.formBox {
    display: block;
    width: 100%;
}
@media screen and (max-width:555px) {
    .navbar nav{
        font-size:18px;
    }
}
@media screen and (max-width:493px) {
    .navbar nav{
        font-size:16px;
    }
}
@media screen and (max-width:465px) {
    .navbar nav{
        font-size:14px;
    }
}
@media screen and (max-width:439px) {
    .navbar nav{
        font-size:12px;
    }
}
@media screen and (max-width:411px) {
    .navbar nav{
        font-size:10px;
    }
}