.jumbotron {
    text-align: center;
    background-color: #003f04;
    align-items: center;
    display: flex
;
}
@media screen and (max-width: 1080px) {
    .jumbotron {
        margin: 3.125rem 1rem;

    }
}
@media screen and (min-width: 1080px) {
    .jumbotron {
        margin: 3.125rem 12rem;

    }
}
.image-container > img {
    width: 300px;
    height: auto;
  }
img {
    box-shadow: 2px;
    margin:20px 10px 20px 20px;
}
.line2 {
   background-color: rgb(189, 174, 61);
   width: 15px;
   height:220px

}
p {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    width:auto;
}
@media screen and (min-width:1080px) {
    .home {
        margin: 0 12rem;
    }
}
@media screen and (max-width: 730px) {
    .line2 {
        display: none;
    }
    .jumbotron {
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    .jumbotron p {
        display: none;
    }
    img {
        margin: 0px
    }
    .image-container > img {
        width: 100%;
        height: auto;
      }
      
}
@media screen and (max-width:1080px) {
    .home {
        margin: 0 1rem;
    }
}